@font-face {
  font-family: 'DeterminationSansRegular';
  src: url('/fonts/DeterminationSansWebRegular.ttf') format('truetype');
}
@font-face {
  font-family: 'WindowsRegular';
  src: url('/fonts/WindowsRegular.ttf') format('truetype');
}
@font-face {
  font-family: 'Dos';
  src: url('/fonts/Dos.ttf') format('truetype');
}