---
import type { BoxType } from '@utils/types';

type Props = {
  type: BoxType;
};
const { type } = Astro.props;
---

<style lang='scss'>
  @use 'include-media' as include;
  @use 'constants' as *;

  .md-box {
    display: flex;
    flex-direction: row;
    border-radius: $border-size;
    padding: 15px;
    gap: 5px;
    border-width: 1px;
    border-style: solid;

    @include include.media('>=tablet') {
      padding-left: 12px;
    }

    &::before {
      font-size: 25px;
      display: none;

      @include include.media('>=tablet') {
        display: block;
      }
    }

    &.neutral {
      background: #f9f9f9;
      border-color: #e5e5e5;

      &::before {
        content: 'ðŸ¦';
      }
    }

    &.info {
      background: #edf4ff;
      border-color: #bed9ff;

      &::before {
        content: 'ðŸ—£ï¸';
      }
    }

    &.warning {
      background: #f9f9f9;
      border-color: #e5e5e5;

      &::before {
        content: 'âš ï¸';
      }
    }

    &.error {
      background: #f9f9f9;
      border-color: #e5e5e5;

      &::before {
        content: 'â›”';
      }
    }

    .md-box-content {
      min-width: 0;

      :global(> *:first-of-type) {
        margin-top: 0;
      }

      :global(> *:last-of-type) {
        margin-bottom: 0;
      }

      :global(pre) {
        padding: 10px 15px;
      }
    }
  }
</style>

<div class:list={['md-box', type]}>
  <div class='md-box-content'><slot /></div>
</div>
