$background-color: #fff;
$background-color-shade1: #f9f9f9;
$border-color: #e5e5e5;
$font-color: #292929;
$font-color-shade1: #888;
$font-color-dark: #000;

$family: 'Source Serif Pro', Georgia, Cambria, 'Times New Roman', Times, serif;
$sans-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$monospace-family: 'Source Code Pro', Menlo, Monaco, 'Courier New', Courier, monospace;

$border-size: 4px;
