$background-color: #fff;
$background-color-shade1: #f9f9f9;
$border-color: #e5e5e5;
$font-color: #292929;
$font-color-dark: #000;

$family: source-serif-pro, Georgia, Cambria, 'Times New Roman', Times, serif;
$monospace-family: source-code-pro, Menlo, Monaco, 'Courier New', Courier, monospace;

$border-size: 4px;
